extends ../layout.jade

block content
   .container
      .row
         .col-md-7
            //embed(src='#{movie.flash}',allowFullscreen="true",quality="high",width='720',
            //height=600,align="middle",type="application/x-shockwave-flash")
            img.img-responsive(src='#{movie.flash}')
            hr
            .panel.panel-default
               .panel-heading
                  h3 评论
               .panel-body
                  ul.media-list
                     each item in comment
                        li.media
                           .pull-left
                              img
                           .media-body
                              a.comment(href="#comments",data-cid="#{item._id}",data-tid="#{item.from._id}")
                                 h4.media-heading=item.from.name
                              P=item.content
                              if item.reply && item.reply.length>0
                                 each reply in item.reply
                                    .media
                                       .pull-left
                                          img
                                       .media-body
                                             h4.media-heading
                                                a.comment(href="#comments",data-cid="#{item._id}",data-tid="#{reply.from._id}") #{reply.from.name}
                                                span.small &nbsp;回复&nbsp;
                                                a.comment(href="#comments",data-cid="#{item._id}",data-tid="#{reply.from._id}") #{reply.to.name}
                                                |:
                                       p=reply.content
                              hr
                     #comments
                        form#commentForm(method='POST',action='/users/comment')
                           input(type='hidden',name='movieId',value="#{movie._id}")
                           .form-group
                              textarea.form-control(name='content',row='3')
                           if user
                              input(type='hidden',name='fromUserId',value="#{user._id}")
                              button.btn.btn-primary(type='submit') 提交
                           else
                              a.navbar-link(href="#",data-toggle='modal',data-target="#signinModal") 登录后评论

         .col-md-5
                  dl.dl-horizontal
                     dt 电影名字
                     dd= movie.title
                     dt 导演
                     dd= movie.director
                     dt 国家
                     dd= movie.country
                     dt 语言
                     dd= movie.language
                     dt 上映年份
                     dd= movie.year
                     dt 海报
                     dd= movie.poster
                     dt 链接地址
                     dd= movie.flash
                     dt 简介
                     dd= movie.summary

   script(src='/javascripts/detail.js' type='text/javascript')
